# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

.pydevproject

*.json
.project
.cproject
root/guessmaker

*.csv
results/*.txt
results/cut/
grammar/

*.pyc
*.*~

root/db_credentials.conf

*.o
*.so

*.orig
*.swp

*.pickle
*.sql
venv
cmp_log.txt
compare
divide
log.txt
myspace.txt
picture.py
pswd_list.txt
random
result.txt
*.sh
!init.sh
test.txt
train.txt
models
guessing/guessmaker
guessmaker
